.header {
    height: 100vh;
    min-height: 50rem;
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right, transparent 10%, #ffffff 50%, transparent 51%);
    @include respond(tab-port){
        // background-color: rgba(white, 0.6);
        background-image: linear-gradient(to bottom, white , rgba(white, 0.5) 40%);
        // height: 80vh;
    }

    &__content {
        width: 50%;
        max-height: 100%;
        min-height: inherit;
        position: relative;
        display: flex;
        flex-direction: column;

        &--text{
            @include respond (tab-port){
                position: absolute;
            }
        }

        @include respond (tab-port){
            width: 100%;
        }

        &-video {
            object-fit: fill;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -1;
        }
    }
}