body {
    font-family: "Lato";
    font-weight: 400;
    color: $color-dark-3;
    a,
    a:visited,
        {
        text-decoration: none;
        color: inherit;
    }
}

.heading-1 {
    font-size: 14vw; //better to use vmin?
    font-weight: 800;
    color: $color-light-2;
    margin: 0;
}

.heading-2 {
    font-size: 1.2vw;
    font-style: italic;
    font-weight: 400;
    padding: 0 5.5vw 0;
    color: $color-dark-1;
}

.text--logo {
    color: $color-dark-2;
    text-decoration: underline;
}