body {
    font-family: "Lato";
    font-weight: 400;
    color: $color-dark-3;
    a,
    a:visited,
        {
        text-decoration: none;
        color: inherit;
    }
}

.heading-1 {
    font-size: 15rem; //better to use vmin? edit: the best way is to use REM because of zooming issues with vunits
    font-weight: 800;
    color: $color-light-2;
    margin: 0;

    @include respond (tab-port){
        color: $color-light-1;
        font-size: 28vmin;
    }
}

.heading-2 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    padding: 0 5.5vw 0;
    color: $color-dark-1;

    @include respond (tab-port){
        color: $color-dark-2;
        font-size: 3.5vmin;
        padding: 0 10% 0;
    }
}

.text--logo {
    color: $color-dark-2;
    text-decoration: underline;
}