body{
    font-family: "Lato";
    font-weight: 400;
    color: $color-dark-3;
}

.heading-1{
    font-size: 15vw;
    font-weight: 800;
    color: $color-light-2;
    margin: 0;

}

.heading-3{
    font-size: 1.2vw;
    font-style: italic;
    font-weight: 400;
    padding: 0 8rem 0;
    color: $color-dark-1;
}