.t-center {
  text-align: center; }

.margin-t-big {
  margin-top: 8vh !important; }

.blur-rest:not(:hover) {
  filter: blur(3px); }

.d-none {
  display: none !important;
  opacity: 0; }

.scrollbar-hidden {
  overflow: hidden; }

@media (max-width: 56.25em) {
  .hide-mobile {
    display: none; } }

.hide-desktop {
  display: none !important; }
  @media (max-width: 56.25em) {
    .hide-desktop {
      display: grid !important; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

button {
  border: none;
  cursor: pointer; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes move-in-right {
  from {
    width: 0%; }
  to {
    width: 100%; } }

@keyframes hide {
  from {
    width: 100%; }
  to {
    width: 0; } }

body {
  font-family: "Lato";
  font-weight: 400;
  color: #7F7F7F; }
  body a,
  body a:visited {
    text-decoration: none;
    color: inherit; }

.heading-1 {
  font-size: 15rem;
  font-weight: 800;
  color: #CBF1F5;
  margin: 0; }
  @media (max-width: 56.25em) {
    .heading-1 {
      color: #E3FDFD;
      font-size: 25vw; } }
  .heading-1--contact {
    line-height: 0.8;
    margin: 5% 0%; }
    @media (max-width: 56.25em) {
      .heading-1--contact {
        font-size: 15rem; } }
    @media (max-width: 37.5em) {
      .heading-1--contact {
        font-size: 10rem; } }

.heading-2 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  padding: 0 5.5vw 0;
  color: #71C9CE; }
  @media (max-width: 56.25em) {
    .heading-2 {
      color: #5FA9AD;
      font-size: 3.5vmin;
      padding: 0 10% 0; } }

.text--logo {
  color: #5FA9AD;
  text-decoration: underline; }

.composition {
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
  margin: auto 0; }
  @media (max-width: 56.25em) {
    .composition {
      display: none; } }
  .composition img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover; }
  .composition a {
    width: 30%;
    opacity: 0.8;
    border-radius: 5px; }
    .composition a:hover {
      opacity: 1; }

.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  z-index: 10;
  transition: all 0.5s ease; }
  @media (max-width: 56.25em) {
    .navbar {
      justify-content: space-between; } }
  .navbar .menu-mobile {
    display: none;
    width: 4rem;
    height: 4rem;
    fill: black;
    margin: 0.8rem 2rem 0.8rem 0rem;
    position: fixed;
    top: 0;
    right: 0; }
    .navbar .menu-mobile img {
      width: 100%;
      height: 100%; }
    @media (max-width: 56.25em) {
      .navbar .menu-mobile {
        display: block; } }
  .navbar__logo {
    color: #E3FDFD;
    font-size: 2.6rem;
    margin: 1rem 0rem 1rem 1.5rem;
    font-weight: 600;
    border-bottom: solid 2px;
    display: flex;
    align-items: center; }
    @media (max-width: 56.25em) {
      .navbar__logo {
        color: #5FA9AD;
        margin: 1rem 0rem 0.8rem 2rem;
        font-size: 3.2rem; } }
  .navbar__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 50%;
    color: #5FA9AD; }
    @media (max-width: 56.25em) {
      .navbar__nav {
        display: none; } }
    .navbar__nav a:not(:last-child) {
      margin-right: 4rem; }
    .navbar__nav--buy {
      text-decoration: underline; }
  .navbar--fixed {
    position: fixed;
    background-color: white;
    border-radius: 3px;
    opacity: 0.9; }
    .navbar--fixed .navbar__logo {
      color: #5FA9AD; }

.card-trip {
  height: 100%;
  min-height: 53rem;
  width: 45%;
  background-color: #CBF1F5;
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  position: relative; }
  @media (max-width: 56.25em) {
    .card-trip {
      width: 60%;
      min-width: 40rem; }
      .card-trip:not(:last-of-type) {
        margin-bottom: 6rem; } }
  .card-trip--back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    animation: fade-in 0.4s ease-in;
    font-size: 1.6rem; }
    .card-trip--back form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      align-items: center; }
      .card-trip--back form input {
        margin-right: 1rem; }
      .card-trip--back form select {
        margin-top: 2rem; }
    .card-trip--back:target {
      display: flex;
      justify-content: space-between; }
    .card-trip--back__exit {
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 1%;
      right: 2%; }
    .card-trip--back__main {
      opacity: 0.3;
      width: 80%;
      margin: 3rem auto 2rem auto; }
  .card-trip__img {
    border-radius: 5px;
    object-fit: cover;
    width: 80%;
    max-height: 35vmin;
    min-height: 25rem;
    margin: 3rem auto 2rem auto; }
  .card-trip h4 {
    font-size: 2.8rem; }
  .card-trip a {
    color: white !important;
    font-size: 2rem; }
  .card-trip p {
    margin: 1rem auto; }
  .card-trip:not(:last-child) {
    margin-right: 3rem; }
    @media (max-width: 56.25em) {
      .card-trip:not(:last-child) {
        margin-right: 0px; } }

.btn {
  margin: 2rem auto 3rem;
  padding: 1.5rem 4rem;
  color: white;
  border-radius: 50px;
  background-color: #71C9CE;
  font-size: 2rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
  color: white;
  align-items: center;
  justify-content: center; }
  .popup__form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .popup__form label {
      font-size: 1.6rem;
      color: #5FA9AD; }
    .popup__form--part {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .popup__form--bot {
      display: flex;
      justify-content: space-evenly; }
    .popup__form input {
      border: none;
      height: 3rem;
      width: 25rem;
      margin-bottom: 2rem;
      color: #7F7F7F;
      border-radius: 3px;
      padding: 2px; }
      .popup__form input:focus {
        border-bottom: 3px #5FA9AD solid; }
    .popup__form .input--half {
      width: 65%; }
  .popup:target {
    display: flex;
    animation: fade-in 0.4s; }
  .popup__content {
    background-color: #CBF1F5;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .popup__content--confirmation {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      z-index: 20;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      background-color: #CBF1F5;
      animation: fade-in 0.8s ease; }
      .popup__content--confirmation img {
        width: 15rem; }
    .popup__content .card-container {
      margin: 4rem; }
    .popup__content img {
      height: 80%;
      margin-right: 1rem; }
    .popup__content .card-trip--back__exit {
      right: 0;
      top: 2%;
      transform: scale(1.3); }
    .popup__content--form {
      opacity: 0.9;
      background-color: #CBF1F5;
      color: #7F7F7F;
      height: 20rem;
      border-radius: 3px;
      display: flex;
      padding: 2rem;
      align-items: center; }
      .popup__content--form img {
        height: 80%;
        margin-right: 1rem; }
      .popup__content--form h2 {
        line-height: 2; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  height: 100vh;
  width: 100%;
  background-color: #cbf1f5;
  display: none;
  animation: move-in-right 1s ease;
  transition: width 1s; }
  .overlay__exit {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0%;
    right: 4%; }
  .overlay:target {
    display: block; }
  .overlay__content {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 6rem;
    flex-direction: column;
    color: #5FA9AD;
    height: 100%; }

.header {
  height: 100vh;
  min-height: 50rem;
  width: 100%;
  display: flex;
  background-image: linear-gradient(to right, transparent 10%, #ffffff 50%, transparent 51%); }
  @media (max-width: 56.25em) {
    .header {
      background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.5) 40%); } }
  .header__content {
    width: 50%;
    max-height: 100%;
    min-height: inherit;
    position: relative;
    display: flex;
    flex-direction: column; }
    @media (max-width: 56.25em) {
      .header__content--text {
        position: absolute; } }
    @media (max-width: 56.25em) {
      .header__content {
        width: 100%; } }
    .header__content-video {
      object-fit: fill;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1; }
  .header .btn-head {
    display: none;
    margin: 2rem auto 3rem;
    padding: 1.5rem 4rem;
    color: white;
    border-radius: 50px;
    border: 2px solid #E3FDFD;
    font-size: 2rem; }
    @media (max-width: 56.25em) {
      .header .btn-head {
        display: block; } }

.learn-more {
  min-height: 100vh;
  background-image: linear-gradient(150deg, #ffffff, #CBF1F5 80%);
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 56.25em) {
    .learn-more {
      flex-direction: column;
      padding: 4rem 0 4rem 0; } }
  .learn-more__content {
    width: 40%;
    height: 100%; }
    @media (max-width: 56.25em) {
      .learn-more__content {
        width: 80%; } }
    .learn-more__content--pictures {
      display: grid;
      grid-template-rows: auto;
      grid-row-gap: 10px;
      align-items: center;
      justify-items: center;
      animation: fade-in 0.5s ease-in; }
      .learn-more__content--pictures figcaption {
        font-size: 2rem; }
      .learn-more__content--pictures img {
        width: 45rem;
        object-fit: cover;
        border-radius: 5px; }
        @media (max-width: 56.25em) {
          .learn-more__content--pictures img {
            width: initial; } }
        @media (max-width: 37.5em) {
          .learn-more__content--pictures img {
            width: 73vmin; } }
    .learn-more__content--people {
      display: flex;
      align-items: center;
      justify-items: center;
      flex-direction: column; }
      @media (max-width: 56.25em) {
        .learn-more__content--people {
          margin-bottom: 10rem; } }
      .learn-more__content--people figcaption {
        margin-left: 3rem;
        font-size: 2rem;
        font-style: italic;
        font-weight: 300; }
      .learn-more__content--people img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 50%; }

.vertical-line {
  height: 55rem;
  border-left: 1px solid #71C9CE; }
  @media (max-width: 56.25em) {
    .vertical-line {
      display: none; } }

.card-people-container {
  display: flex;
  align-items: center; }
  @media (max-width: 37.5em) {
    .card-people-container {
      flex-direction: column; } }
  .card-people-container:not(:last-child) {
    margin-bottom: 2rem; }

.offer {
  background-image: linear-gradient(#E3FDFD, rgba(166, 227, 233, 0.4) 40%); }
  .offer__content {
    margin: auto;
    min-height: 50%;
    padding: 8%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 56.25em) {
      .offer__content {
        flex-direction: column; } }

.contact {
  display: flex;
  min-height: 50rem;
  background-image: radial-gradient(#CBF1F5, #71C9CE);
  justify-content: center;
  align-content: center; }
  .contact__content-form {
    display: flex;
    flex-direction: column; }
    .contact__content-form input {
      margin: 1rem; }
    .contact__content-form input[type="email"] {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 10px;
      color: inherit; }
    .contact__content-form textarea {
      padding: 0rem 1rem;
      height: 30vmin;
      border: none;
      border-radius: 5px;
      margin: 1rem;
      font: initial;
      color: inherit; }
    .contact__content-form button {
      padding: 1.5rem 7rem;
      background-color: #E3FDFD;
      color: inherit;
      font-size: 1.5rem; }

.footer {
  background-color: #E3FDFD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 5%; }
  .footer img {
    height: 2rem; }
