.t-center {
  text-align: center; }

.margin-t-big {
  margin-top: 8vh !important; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato";
  font-weight: 400;
  color: #7F7F7F; }
  body a,
  body a:visited {
    text-decoration: none;
    color: inherit; }

.heading-1 {
  font-size: 15rem;
  font-weight: 800;
  color: #CBF1F5;
  margin: 0; }

.heading-2 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  padding: 0 5.5vw 0;
  color: #71C9CE; }

.text--logo {
  color: #5FA9AD;
  text-decoration: underline; }

.composition {
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
  margin: auto 0; }
  .composition img {
    width: 30%;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 5px; }
    .composition img:hover {
      opacity: 1; }

.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  z-index: 10; }
  .navbar__logo {
    color: #E3FDFD;
    font-size: 2.6rem;
    margin: 1rem 0rem 1rem 1.5rem;
    font-weight: 600;
    border-bottom: solid 2px;
    display: flex;
    align-items: center; }
  .navbar__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 50%;
    color: #5FA9AD; }
    .navbar__nav a:not(:last-child) {
      margin-right: 4rem; }
    .navbar__nav--buy {
      text-decoration: underline; }

.card-trip {
  height: 100%;
  min-height: 53rem;
  width: 45%;
  background-color: #CBF1F5;
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s; }
  .card-trip img {
    border-radius: 5px;
    object-fit: cover;
    width: 80%;
    max-height: 35vmin;
    min-height: 25rem;
    margin: 3rem auto 2rem auto; }
  .card-trip h4 {
    font-size: 2.8rem; }
  .card-trip a {
    color: white !important; }
  .card-trip p {
    margin: 1rem auto; }
  .card-trip:not(:hover):not(.card-trip--main) {
    filter: blur(3px); }
  .card-trip:not(:last-child) {
    margin-right: 3rem; }

.btn {
  margin: 2rem auto 3rem;
  padding: 1.5rem 4rem;
  color: white;
  border-radius: 50px;
  background-color: #71C9CE; }

.header {
  height: 100vh;
  min-height: 50rem;
  width: 100%;
  display: flex;
  background-image: linear-gradient(to right, transparent 10%, #ffffff 50%, transparent 51%); }
  .header__content {
    width: 50%;
    max-height: 100%;
    min-height: inherit;
    position: relative;
    display: flex;
    flex-direction: column; }
    .header__content-video {
      object-fit: fill;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1; }

.learn-more {
  min-height: 100vh;
  background-image: linear-gradient(150deg, #ffffff, #CBF1F5 80%);
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .learn-more__content {
    width: 40%;
    height: 100%; }
    .learn-more__content--pictures {
      display: grid;
      grid-template-rows: auto;
      grid-row-gap: 10px;
      align-items: center;
      justify-items: center; }
      .learn-more__content--pictures figcaption {
        font-size: 2rem; }
      .learn-more__content--pictures img {
        width: 40rem;
        object-fit: cover;
        max-height: 100%;
        border-radius: 5px; }
    .learn-more__content--people {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-row-gap: 3rem;
      align-items: center;
      justify-items: center; }
      .learn-more__content--people figcaption {
        margin-left: 3rem;
        font-size: 2rem;
        font-style: italic;
        font-weight: 300; }
      .learn-more__content--people img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 50%; }
      .learn-more__content--people .card-people--1 p {
        grid-column: 2/3; }
      .learn-more__content--people .card-people--2 {
        grid-row: 3/4; }
      .learn-more__content--people .card-people--3 {
        grid-row: 2/3; }

.vertical-line {
  height: 55rem;
  border-left: 1px solid #71C9CE; }

.offer {
  background-image: linear-gradient(#E3FDFD, rgba(166, 227, 233, 0.4) 40%); }
  .offer__content {
    margin: auto;
    min-height: 50%;
    padding: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }

.contact {
  display: flex;
  min-height: 50rem;
  background-image: radial-gradient(#CBF1F5, #71C9CE);
  justify-content: center;
  align-content: center; }
  .contact__content-form {
    display: flex;
    flex-direction: column; }
    .contact__content-form input {
      margin: 1rem; }
    .contact__content-form input[type="email"] {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 10px;
      color: inherit; }
    .contact__content-form textarea {
      padding: 0rem 1rem;
      height: 30vmin;
      border: none;
      border-radius: 5px;
      margin: 1rem;
      font: initial;
      color: inherit; }
    .contact__content-form button {
      border: none;
      cursor: pointer;
      padding: 1.5rem 7rem;
      background-color: #E3FDFD;
      color: inherit;
      font-size: 1.5rem; }

.footer {
  height: 10rem;
  background-color: #E3FDFD; }
