.t-center{
    text-align: center;
}

.margin-t-big{
    margin-top: 8vh !important;
}

.blur-rest{             //used @ offer section
    &:not(:hover){
    filter: blur(3px);
    }
}

.d-none{
    display: none !important;
    opacity: 0;
}

.scrollbar-hidden{
    overflow: hidden
}