$color-light-1: #E3FDFD;
$color-light-2: #CBF1F5;
$color-light-3: #A6E3E9;
$color-light-4: #CBF1F5;

$color-dark-1: #71C9CE;
$color-dark-2: #5FA9AD;
$color-dark-3: #7F7F7F;

$font-size-1: 2.4vmin; //is it a good use of vmin?